body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #535353;
}

.contenedor {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: aliceblue;
}

.nota {
    margin-bottom: 10px;
}

.enviar {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.notas {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
