<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="notas.component.css">
    <title>Notas</title>
</head>
<body>
    <div class="contenedor">
        <h1>Crear</h1>
        <form [formGroup]="formulario" (ngSubmit)="guardarNota()">
            <div class="nota">
                <label for="titulo">Título:</label>
                <br>
                <input type="text" id="titulo" formControlName="titulo" />
            </div>
    
            <div class="nota">
                <label for="fecha">Fecha (Opcional):</label>
                <br>
                <input type="text" id="fecha" formControlName="fecha" />
            </div>
    
            <div class="nota">
                <label for="detalles">Detalles:</label>
                <br>
                <input type="text" id="detalles" formControlName="detalles" />
            </div>
    
            <button type="submit" class="enviar">Enviar</button>
        </form>
    </div>
</body>
</html>
